.grid-parent {
  width: 100%;

  background-color: #eee1b4;

  padding: 1.5rem 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;

  gap: 0.2rem;
}

.grid div {
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;

  transition: transform 400ms ease;
}

img:hover {
  transform: scale(1.05);
}

.landscape-orient {
  object-fit: cover;
}

.row-span-2 {
  grid-row: span 2;
}

.orient-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.orient-2 {
  grid-column-start: 3;
}

.red-door {
  grid-row: 2 / span 2;
  grid-column-start: 2;
}
